@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$main-font: 'Open Sans',
sans-serif;
$heading-font: 'Playfair Display',
serif;
$text-color: #ffffff;

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 20px;
  font-family: $main-font;
  background-color: #000000;
  color: $text-color;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* wrapper */
.wrapper {
  width: 100%;
  padding: 0 25px;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 85px 0 0px;
}

.navbar a {
  color: $text-color;
  padding: 10px 20px;
  margin: 0 5px 20px 5px;
}

.navbar a:hover {
  border-bottom: #ffffff 2px solid;
}

.navbar .logo-link a:hover {
  border-bottom: none;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 600;
}

/* Slider */

.content-slide {
  width: 100%;
}

.content {
  height: 100%;
  max-height: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  position: absolute;
  top: 170px;
}

.content-slide {
  padding-top: 20px;
  margin-top: 30px;
}

.content h1 {
  padding-top: 20px;
  font-size: 55px;
  font-family: $heading-font;
}

.content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px auto;
  font-weight: 300;
}

.yellow-btn {
  background-color: #EECD31;
  color: $text-color;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.slide-image {
  height: 50%;
  width: 100%;
}

.content-slide .arrow-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  color: pink;

}

.content-slide li {
  position: absolute;
  float: left;
}

.prev {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  background-image: url(../images/prev_arrow.png);
  background-repeat: no-repeat;
}

.next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  left: 95%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  background-image: url(../images/next_arrow.png);
  background-repeat: no-repeat;
}